$natural-page-width: 960px;

body, input, textarea {
  font: 14pt "proxima-nova", sans-serif;
}

body {
  line-height: 1.6em;
  margin: 2em auto;
  width: $natural-page-width;
}

b {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1, h2, h3 {
  margin: 0.5em 0;
  color: #8949b0;
}

h1 {
  font-family: "jaf-bernino-sans-comp", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 4em;
}

h2 {
  font-size: 1.4em;
  line-height: 1.4em;
}

/* Forms */

input, button {
  border-radius: 0;
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  outline: none;
}

input[type="email"] {
  border: 1px solid #ccc;
}

input[type="submit"], input[type="button"], button {
  border: 1px solid #8949b0;
  background: #8949b0;
  color: white;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover {
  border-color: #a763d1;
  background: #a763d1;
}

input[type="submit"]:active, input[type="button"]:active, button:active {
  border-color: #5a2d77;
  background: #5a2d77;
}

/* Mailing list */

#mailing-list-subscription {
  margin: 2em auto;
  overflow: hidden;

  input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin: 0;
  }

  input[type="email"] {
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    width: 60%;
  }

  input[type="submit"] {
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    width: 40%;
  }
}

/* Intro */

#intro {
  padding: 4em 0 0;
  text-align: center;

  h1 {
    margin: 0 0 0.75em;
  }
}

/* Reasons to come */

#reasons-to-come {
  overflow: hidden;
  text-align: center;

  .reason {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 1em;
  }

  .illustration {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
}

.external-links {
  margin: 2em 0;

  a {
    color: #8949b0;
    font-size: 2em;
    margin: 0 0.2em;
  }

  a:hover {
    color: #a763d1;
  }
}

/* Footer */

footer {
  overflow: hidden;

  .external-links {
    float: right;
    text-align: right;
    width: 33%;
  }

  form {
    float: left;
    width: 66%;
  }
}
/* iPhone portrait */

@media screen and (min-device-width: 320px) and (orientation: portrait) {
  body {
    padding: 0 1em;
    margin: 0 auto;
    width: 400px;
  }

  #intro .content, section, footer, #reasons-to-come .reason, footer form, footer .external-links {
    width: 100%;
  }

  footer .external-links {
    float: none;
    text-align: center;
  }

  #mailing-list-subscription input[type="email"], #mailing-list-subscription input[type="submit"] {
    border-radius: 0;
    float: none;
    padding: 0.5em;
    width: 100%;
  }
}
