<%= heading 'About' %>

<p>
  <%= project_name %> is a space in Christchurch, New Zealand for people to hack, craft, make, create and work on projects.
</p>

<h2>Original Email Announcement</h2>

<pre class="email">
Hi,

I would like to gauge the level of interest for a hacker / project /
creative / maker space in Christchurch.

I've been interested in the concept for quite a while but after
spending some time in similar setups in Europe I'm even more convinced
it would be a great addition to the city. While I could spout on about
it having social, community, technical, educational and creative
benefits I'm really only suggesting it because I want to be able to
work on projects and hang out with interesting people at the same
time.

If you're not familiar with the concept here are a couple of starting
points for learning more:

  <a href="http://hackerspaces.org/">http://hackerspaces.org/</a>
  <a href="http://metalab.at/wiki/English">http://metalab.at/wiki/English</a>

Already I've talked about the concept with a couple of people and had
a positive response. There is also a possibility of an at least
temporary location in the central city. I suspect we would probably
start off with having gatherings one or two nights a week.

Please participate in the discussion forum / mailing list if you are
interested in helping this get started or interested in participating
once it's started:

  <a href="http://groups.google.co.nz/group/chchspace">http://groups.google.co.nz/group/chchspace</a>

I welcome suggestions for venues, funding, participants, equipment and
interminable discussions about a suitably local-flavoured name.

Know someone who creates, hacks, crafts, makes or who might otherwise
benefit from such a space? Please pass a link to this page along to them.

Thanks for your time.

--Phil.
</pre>