<p class="about">
  <%= project_name %> is a space in Christchurch, New Zealand for people to hack, craft, make, create and work on projects.
  <%= link 'Find out more &raquo;', '/about' %>
</p>


<form action="http://groups.google.co.nz/group/chchspace/boxsubscribe" id="subscribe">
  <div>
    <img src="http://groups.google.co.nz/intl/en/images/logos/groups_logo_sm.gif" height="30" width="140" alt="Google Groups" />
    <label for="email">Email</label>
    <input type="email" name="email" />
    <input type="submit" name="sub" value="Subscribe to Mailing List" />
  </div>
</form>

<div id="event">
  <div class="header">
    <div class="name">Wednesdays</div>
    <div class="time">7pm-11pm</div>
    <div class="address">200 Armagh St, Christchurch</div>
  </div>
  <%= google_map %>
</div>
