<p class="about">
  <%= project_name %> is a space in Christchurch, New Zealand for people to hack, craft, make, create and work on projects.
  <%= link 'Find out more &raquo;', '/about' %>
</p>

<div id="event">
  <div class="header">
    Next Event
    <div class="name">Casual Sunday, 19 April 2009</div>
    <div class="address">200 Armagh St, Christchurch</div>
  </div>
  <%= google_map %>
</div>