/* Core Layout */

body {
  color: #666;
  margin: 1em auto;
  width: 700px;
}

#header {
  border-bottom: 2px solid #ccc;
  padding-bottom: 1em;
}
  
  #header .project_name {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  #header #nav { float: right; }

#nav {
  list-style-type: none;
}

  #nav li {
    display: inline;
    margin-left: 1em;
  }
  
  #nav a {
    background-color: #eef;
    padding: 0.5em 1em;
  }

#article {
  margin: 1em 0;
  text-align: justify;
}

#footer {
  border-top: 2px solid #ccc;
  font-size: 0.9em;
  padding-top: 1.1em;
}
  
  #footer .meta, #footer div.licence { width: 300px; }
  
  #footer .meta { float: left; }

  #footer div.licence { float: right; }

/* Special */

pre.email {
  background-color: #eee;
  padding: 2em;
}