/* Text */

body, input, textarea, select {
  color: #222;
  font: 10pt "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body { line-height: 1.6em; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin: 1em 0;
}

h1 {
  font-size: 2em;
  margin: 0.5em 0;
}

h2 { font-size: 1.6em; }

p { margin: 0.5em 0 1em; }

pre { font: 9pt Monaco, Courier, monospace; }

em { font-style: italic; }

strong { font-weight: bold; }

/* Links */

a { text-decoration: none; }

  a:link, a:visited { color: #3786f9; }

  a:hover { color: #3258a1; }

  a:active { color: #24355f; }
  
/* Lists */

ul {
  list-style-type: disc;
  margin: 1em 0 1em 3em;
}

/* Forms */

form label {
  font-weight: bold;
  display: block;
}

form .error, form .errors {
  color: #c00;
}

/* Tables */

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}
  
  table, th { border-bottom: 2px solid #666; }
  
  th {
    color: #000;
    font-weight: bold;
  }
  
  th, td { padding: 0.5em 1em; }
  
  td { border-top: 1px solid #ccc; }
  
  tr.alternate { background-color: #f9f9f9; }